@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form .has-error small.error {
  color: #FF4136;
  font-style: italic;
}
.form-delete {
  display:inline;
}
.nowrap {
  white-space: nowrap;
}

